In [23]:
pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [24]:
pip install features

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: features in /usr/local/lib/python3.7/dist-packages (0.5.12)
Requirement already satisfied: graphviz~=0.7 in /usr/local/lib/python3.7/dist-packages (from features) (0.10.1)
Requirement already satisfied: concepts~=0.7 in /usr/local/lib/python3.7/dist-packages (from features) (0.9.2)
Requirement already satisfied: fileconfig~=0.5 in /usr/local/lib/python3.7/dist-packages (from features) (0.6.1)
Requirement already satisfied: bitsets~=0.7 in /usr/local/lib/python3.7/dist-packages (from concepts~=0.7->features) (0.8.4)

In [25]:
import pandas as pd 
import uuid  
import random        #random para operar o generar números aleatorios
from faker import Faker #faker para manejar cualquier informacion artificial
import datetime      #importamos datetime permite manipular fechas y horas
import features      #crear y seleccionar automáticamente características importantes en su conjunto de datos

In [26]:
#El tamaño del conjunto de datos será de 5000 Usuarios 
num_users = 5000

In [27]:
# A list of 5 features
features = [
    "Bono",
    "Beneficio",
    "Condicionalidad"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

Creamos los datos para el tipo o nombre de Bono

In [28]:
tipobono = ["BDH", "BDH-V","CDH","Adulto_Mayor","AM_PobrezaE","Discapacitados"]

In [29]:
df['Bono'] = random.choices(
    tipobono,
    weights=(16,16,16,16,16,16), 
    k=num_users
)

Beneficio este atributo posee la cantidad que se le asigna al beneficiario

In [30]:
# The different ratings available
ratings = [50,60,600,100,240]# Weighted ratings with a skew towards the ends
df['Beneficio'] = random.choices(
    ratings, 
    weights=(30,30,10,50,10), 
    k=num_users
)

La condiconalidad es el fin con el que se debe usar ese dinero

In [31]:
tipocondicion = ["salud y educacion", "eduacion financiera","ninguna"]

In [32]:
df['Condicionalidad'] = random.choices(
    tipocondicion,
    weights=(50,10,40), 
    k=num_users
)

In [33]:
df.to_csv('dataset_users.csv')

In [35]:
df

                Bono  Beneficio    Condicionalidad
0                CDH         50  salud y educacion
1        AM_PobrezaE         60            ninguna
2       Adulto_Mayor         50  salud y educacion
3              BDH-V         60            ninguna
4                BDH        240            ninguna
...              ...        ...                ...
4995             BDH         60  salud y educacion
4996           BDH-V         60            ninguna
4997     AM_PobrezaE        100            ninguna
4998  Discapacitados        100  salud y educacion
4999    Adulto_Mayor        100  salud y educacion

[5000 rows x 3 columns]