**ENTIDAD ENCUESTADOR**

La entidad encuestador nace a traves del Registro Social o SENPLADES ya que el beneficiario una vez que conste como apto para acceder un bono esto se debe confirmar mediante una encuesta. Es aqui donde se confirmar a que grupo pertenece y la cantidad de dinero que puede cobrar. Una vez entendido esto los atributos propios del encuestador es el siguiente son los siguientes.

-El identificador único del encuestador, sus nombres y apellidos, su cédula de identidad y por último su status

In [24]:
pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [25]:
import pandas as pd
import uuid
import random
import datetime
from faker import Faker

In [26]:
num_users = 100000

In [27]:
features = [
    "ID_Encuestador",
    "Cédula",
    "Nombre",
    "Status",
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

**ID_ENCUESTADOR**

La necesidad de tener un ID para cada entidad es completamente necesaria debido a la facilidad al momento de realizar una busqueda y optimizar los procesos de estructura de datos. Para generar el ID del encuestador le asigamos una pequeña abreviatura para distinguirla, en este caso la abreviatura sera IDEnct

In [28]:
Dominio='IDEnct'                                                                           #Creamos un string para concatenarlo con la ID
df['ID_Encuestador'] = [Dominio+str((random.sample(range(1,10000),1))) for i in range(num_users)]    #Asignamos al apartado de ID  el dominio inicial y concatenamos
                                                                                         #con str el numero aleatorio que se va a generar

**NOMBRE**

Aquí usé la biblioteca Faker para crear miles de nombres para todos estos usuarios. La biblioteca Faker es excelente en esta situación porque tiene una opción para nombres masculinos y femeninos.}} Para procesar los nombres de género, creé una función para asignar nombres en función de un género determinado.

In [34]:
# Instantiating faker
faker = Faker()

def name_gen():
    """
    Generamos un nombre aleatorio
    en esta seccion no importa el genero
    solo se lanzan nombres masculinos y
    femeninos al azar
    ----------------------
    La funcion no posee parámetros
    """
    
    return faker.name()# Generamos nombres para cualquier género
df['Nombre'] = [name_gen() for i in range(num_users)] #asignamos al atributo nombre la función que creamos y que va desde i hasta el numero final de usuarios

**CÉDULA DE IDENTIDAD**

El siguiente código es uno de los mas fáciles y de los que mas se ha usado durante el proyecto. Básicamente lo que realiza este fragmento de código es asiganrle al atributo cédula un numero aleatorio dentro de un rango que no sobrepase los 10 dígitos propios de una cédula real.

In [36]:
df['Cédula'] = [(random.sample(range(1700000000, 1710000000),1)) for i in range(num_users)] #Escogemos el atributo id y le asignamos la funcion random concatenando
                                                        #con randrange que los genera aleatoriamente empezando desde i hasta el 
                                                        #rango del numero de usuarios

**STATUS**

In [39]:
std = ["activo", "inactivo"] #Creamos un array con dos únicos valores o estados

In [40]:
df['Status'] = random.choices(
    std, 
    weights=(80,20), 
    k=num_users
)

In [41]:
df

      ID_Encuestador        Cédula          Nombre  Status
0       IDEnct[4899]  [1701676373]   Laura Montoya  activo
1       IDEnct[5852]  [1707342831]  Charles Torres  activo
2       IDEnct[8912]  [1701538846]     Carla Solis  activo
3       IDEnct[6838]  [1703797847]    Cynthia Lynn  activo
4       IDEnct[5786]  [1709259239]    Frank Hudson  activo
...              ...           ...             ...     ...
99995   IDEnct[8896]  [1704761325]   Shawn Jenkins  activo
99996    IDEnct[709]  [1702309094]  Nicholas White  activo
99997   IDEnct[8081]  [1704048175]    James Larson  activo
99998   IDEnct[2206]  [1707964342]   Andrea Savage  activo
99999   IDEnct[9937]  [1702003282]   Nicole Rogers  activo

[100000 rows x 4 columns]