In [18]:
pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [19]:
pip install features

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: features in /usr/local/lib/python3.7/dist-packages (0.5.12)
Requirement already satisfied: concepts~=0.7 in /usr/local/lib/python3.7/dist-packages (from features) (0.9.2)
Requirement already satisfied: fileconfig~=0.5 in /usr/local/lib/python3.7/dist-packages (from features) (0.6.1)
Requirement already satisfied: graphviz~=0.7 in /usr/local/lib/python3.7/dist-packages (from features) (0.10.1)
Requirement already satisfied: bitsets~=0.7 in /usr/local/lib/python3.7/dist-packages (from concepts~=0.7->features) (0.8.4)

In [20]:
import pandas as pd 
import uuid  
import random        #random para operar o generar números aleatorios
from faker import Faker #faker para manejar cualquier informacion artificial
import datetime      #importamos datetime permite manipular fechas y horas
import features      #crear y seleccionar automáticamente características importantes en su conjunto de datos

In [21]:
#El tamaño del conjunto de datos será de 5000 Usuarios 
num_users = 5000

In [22]:
# A list of 5 features
features = [
    "id",
    "encuesta",
    "status_registro",
    "puntaje"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

In [23]:
df['id'] = [uuid.uuid4().hex for i in range(num_users)]

In [24]:
print(df['id'].nunique()==num_users)

True

In [25]:
estadoencuesta = ["realizada", "no_realizada"]

In [26]:
df['encuesta'] = random.choices(
    estadoencuesta, 
    weights=(60,40), 
    k=num_users
)

Vamos con el estatus del Registro
Activo/Inactivo

In [27]:
choice = [True, False]
df['status_registro'] = random.choices(
    choice, 
    k=num_users
)

Puntaje
Estblecemos un rango de puntaje que se usara para dar el fondo monetario

In [28]:
# The different ratings available
ratings = [10,20,30,40,50]# Weighted ratings with a skew towards the ends
df['puntaje'] = random.choices(
    ratings, 
    weights=(30,10,10,10,30), 
    k=num_users
)

In [29]:
df.to_csv('dataset_users.csv')

In [30]:
df

                                    id      encuesta  status_registro  puntaje
0     73bbfc0c198d4e88897e3b8c2d5a8529     realizada             True       30
1     26b313e350a8463f96bad8dad5c7b4d0  no_realizada            False       50
2     50cb1c86b42e48829bbbdc3d3ce22dbe     realizada             True       50
3     f5a52008b8df4e7e9d175d7acb350f88  no_realizada            False       20
4     5a1cab3f6bea46f496c5f50c3267a658  no_realizada             True       10
...                                ...           ...              ...      ...
4995  a8d55fa917824a5bbf67efdf7001b153     realizada             True       50
4996  db3ac43fdf1b4c6c9ea87f82562e24f9  no_realizada             True       30
4997  41776d3a0fc8442e8cf47628db13ac02  no_realizada            False       10
4998  04e7f26664214d2696514d9971b8c66d  no_realizada             True       10
4999  31deb171ecb04eae82d2c39fe4eb2d4c     realizada             True       20

[5000 rows x 4 columns]