**MIES**

El Ministerio de Inclusión Económica y Social, (MIES), es una entidad pública que ejerce rectoría y ejecuta políticas, regulaciones, programas y servicios para la inclusión social y atención durante el ciclo de vida, con prioridad en la población más vulnerable. Si bien es cierto que el registro social ya posee a traves de estudios demograficos los posibles candidatos para acceder al bono, aquellos que ya poseen este beneficio son monitoreados a traves del MIES con esto se busca que los beneficiarios no cometan algún fraude o se encuentre en peores condiciones. Con esto no se busca quitar el bono asignado si no mas bien llevar un registro ordenado.

In [50]:
import pandas as pd
import uuid
import random
import datetime

In [51]:
num_users = 100000

In [52]:
# Una lista de 4 caracteristicas\n",

features = [  
    'id',
    'Datos_Actualizados',
    'Medio_Actualizado',
    'Fecha_Actualización',
    'Cédula'
    ]
df = pd.DataFrame(columns=features) # Creando un DF para las caracteristicas \n",

**ID_Monitoreo**

Como ya se recalco en otras entidades es necesario tener un índice que nos facilite la búsqueda de la informacion en este caso al tener un registro de monitoreo las IDs cambiaran por cada monitoreo que se realize al mismo o distinto beneficiario. De igual forma utilizaremos un nombre clave para diferenciarlo de las demas entidades

In [53]:
Dominio='Mon'                                                                           #Creamos un string para concatenarlo con la ID
df['id'] = [Dominio+str((random.sample(range(1,10000),1))) for i in range(num_users)]    #Asignamos al apartado de ID  el dominio inicial y concatenamos
                                                                                         #con str el numero aleatorio que se va a generar

**DATOS ACTUALIZADOS**

Los datos actualizados nos indican si el beneficiario a actualizado por lo menos una vez sus datos ya sea por otro atributo llamado motivo, si es asi nos mostrara un valor booleano para este caso sera True,si no ha existido algún motivo para actualizar los datos en este caso el valor sera False.

In [54]:
choice = [True, False]
df['Datos_Actualizados'] = random.choices(
    choice, 
    weights=(50,50),
    k=num_users
)

**MEDIO ACTUALIZADO**

Es necesrio en muchos casos saber porque medio el beneficiario actualizo sus datos. Debemos recordar que muchos de estos beneficiarios poseen muy pocos recursos, es por eso que el MIES tiene designado tres medios por el cual actualizar la información. Estos canales son via web, call center, Agencia

In [55]:
medio = ["web", "telefónica", "Agencia"]

In [56]:
df['Medio_Actualizado'] = random.choices(
    medio, 
    weights=(20,50,50), 
    k=num_users
)

**FECHA DE ACTUALIZACIÓN**

Este atributo posee la fecha en la que sus datos fueron actualizados. Existe una peculiaridad que son aquellos que no han actualizado los datos. ¿Porqué poseen una fecha? este dato se conservara y se tomará con el siguiente razonamiento. Si bien las personas que actualizaron sus datos poseeran fecha los que no actualizaron se la tomara como la fecha en que se registraron o se guardaron oficialmente sus datos, es decir el dia en que se tomo la encuesta.

In [57]:
def random_dob(start, end, n):
    """
    Generating a list of a set number of timestamps
    """
    
    # The timestamp format
    frmt = "%Y-%m-%d"
    
    # Formatting the two time periods
    stime = datetime.datetime.strptime(start, frmt)
    etime = datetime.datetime.strptime(end, frmt)
    
    # Creating the pool for random times
    td = etime - stime
    
    # Generating a list with the random times
    times = [(random.random() * td + stime).strftime(frmt) for _ in range(n)]
    
    return times

df['Fecha_Actualización'] = random_dob("2018-01-01", "2020-11-01", num_users)

**CÉDULA DE IDENTIDAD**

Es completamente necesario saber a quien pertenecen esos datos ya que sin esa información se estaria almacenando los datos actualizados de una persona que no conocemos. Por ende decidimos traer el mismo código para generar cédulas y asi saber a quien pertenece esos datos actualizados o no.

In [58]:
df['Cédula'] = [(random.sample(range(1700000000, 1710000000),1)) for i in range(num_users)] #Escogemos el atributo id y le asignamos la funcion random concatenando
                                                        #con randrange que los genera aleatoriamente empezando desde i hasta el 
                                                        #rango del numero de usuarios

In [59]:
df

,id,Datos_Actualizados,Medio_Actualizado,Fecha_Actualización,Cédula
0,Mon[9041],True,Agencia,2018-02-26,[1701539681]
1,Mon[8317],True,telefónica,2019-05-22,[1707019324]
2,Mon[7656],False,Agencia,2020-01-30,[1700898511]
3,Mon[8591],False,telefónica,2020-05-02,[1705119599]
4,Mon[1098],False,Agencia,2018-11-05,[1701160843]
...,...,...,...,...,...
99995,Mon[9423],False,telefónica,2020-01-15,[1702165935]
99996,Mon[649],True,telefónica,2020-06-03,[1703016908]
99997,Mon[3601],True,telefónica,2019-08-24,[1700410702]
99998,Mon[8052],True,telefónica,2020-08-05,[1705283236]
99999,Mon[5988],True,telefónica,2019-12-11,[1706608019]