In [1]:
pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.2-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.2 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.2

In [3]:
pip install features

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting features
  Downloading features-0.5.12-py2.py3-none-any.whl (15 kB)
Collecting fileconfig~=0.5
  Downloading fileconfig-0.6.1-py3-none-any.whl (8.6 kB)
Collecting concepts~=0.7
  Downloading concepts-0.9.2-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: graphviz~=0.7 in /usr/local/lib/python3.7/dist-packages (from features) (0.10.1)
Collecting bitsets~=0.7
  Downloading bitsets-0.8.4-py3-none-any.whl (13 kB)
Installing collected packages: bitsets, fileconfig, concepts, features
Successfully installed bitsets-0.8.4 concepts-0.9.2 features-0.5.12 fileconfig-0.6.1

In [4]:
import pandas as pd 
import uuid  
import random        #random para operar o generar números aleatorios
from faker import Faker #faker para manejar cualquier informacion artificial
import datetime      #importamos datetime permite manipular fechas y horas
import features      #crear y seleccionar automáticamente características importantes en su conjunto de datos

In [6]:
#El tamaño del conjunto de datos será de 5000 Usuarios 
num_users = 5000

In [7]:
# Una lista de 4 caracteristicas\n",

features = [  
    'id',
    'gender',
    'name',
    'status',
    ]
df = pd.DataFrame(columns=features) # Creando un DF para las caracteristicas \n",

In [22]:
df['id'] = [(random.randrange(1700000000, 1710000000)) for i in range(num_users)] #Escogemos el atributo id y le asignamos la funcion random concatenando
                                                        #con randrange que los genera aleatoriamente empezando desde i hasta el 
                                                        #rango del numero de usuarios

In [9]:
print(df['id'].nunique()==num_users)#Imprimir, si el ID es unico entre todo el numero de usuarios

False

Para el género, proporcioné tres opciones: masculino, femenino y na. Sin embargo, si tuviera que usar la biblioteca aleatoria de Python, cada opción podría mostrarse igualmente en el conjunto de datos. 
En realidad, habría significativamente más opciones masculinas y femeninas que na. Así que decidí mostrar ese desequilibrio en los datos:

In [10]:
genders = ['male', 'female','na'] #asignamos valores a genders los cuales son 'male','female','na'

In [11]:
df['gender'] = random.choices( #del atributo gender le asignamos datos aleatorios con opciones .choices
    genders,                   #de generos 
    weights=(47,47,6),         #Porcentajes: 47% --> male 47% --> female 6% -->na
    k=num_users,
    )

In [12]:
#**Subscriber**
#Para este atributo, las opciones se pueden seleccionar aleatoriamente entre Verdadero y Falso.
# Dado que se puede esperar razonablemente que aproximadamente la mitad de los usuarios sean suscriptores
choice = [True, False]          #Cambiamos las opciones de verdadero a falso
df['status'] = random.choices(  #a status le asignamos datos aletorios con las opciones
    choice, 
    k=num_users
)

In [13]:
#Name
#Aquí usé la biblioteca Faker para crear miles de nombres para todos estos usuarios. 
# La biblioteca Faker es excelente en esta situación porque tiene una opción para nombres masculinos y femeninos.
# }} Para procesar los nombres de género, creé una función para asignar nombres en función de un género determinado.
# Instantiating faker
faker = Faker()

def name_gen(gender):
    """
    Quickly generates a name based on gender
    """
    if gender=='male':
        return faker.name_male()
    elif gender=='female':
        return faker.name_female()
    return faker.name()# Generating names for each user
    """_summary_
          def name_gen(gender):
          Creamos una funcion para asignar los nombres
          creamos una sentencia if que nos indica
          si gender es igual a male retornamos un
          nombre masculino, despues si gender es igual
          a female retorna un nombre femenino caso contrario 
          retorna cualquier nombre
          
         Parametros: 
         --------------
         Lista Gender -->Linea 73"""

In [14]:
df['name'] = [name_gen(i) for i in df['gender']] #Asignamos a todos los datos la funcion de nombre para i en base a el genero

In [15]:
df.to_csv('dataset_users.csv')

In [17]:
df

              id  gender                    name  status
0     1701622103  female     Christine Gutierrez   False
1     1708575380    male           Kelly Vazquez   False
2     1704107778      na          Susan Humphrey   False
3     1708585588  female         Madeline Harris   False
4     1706935951      na              Robert Lee   False
...          ...     ...                     ...     ...
4995  1700313411    male            William Hill    True
4996  1709652247    male          Jeremy Elliott    True
4997  1707154484  female             Susan Smith    True
4998  1700525142  female  Mrs. Christine Parrish   False
4999  1708880410  female                Lisa Cox    True

[5000 rows x 4 columns]